
*{
    margin:0%;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing:border-box;   
}
html{
    scroll-behavior: smooth;
}
body{
background: #000000;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(image.jfif);
    background-size: cover;
    background-position:center ;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 1px;
    margin-right: 0;
    margin-top: 10px;

}
#sidemenu li{
    font-size: 15px;
    height: 45px;
    width: 90px;
    border:none;
    border-radius: 8px;
    padding: 11px 12px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
nav ul li:hover a{
    text-decoration: none;
    color: #fff;
  }
  nav ul li:hover{
    height: 45px;
    padding-top: 30px;
   background: #0a0004;
    text-decoration: none;
    transform: skew(15deg);
  }
.logo{
    color: #fff;
    font-size: 25px;
    display: inline-block;
    width: 70px;
    height: 60px;    

    margin-top: 15px;
    transform: translate(50%,-50%);
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
   
    

}
    
@-webkit-keyframes  rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      color: #fff;
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
      color: #77046e;
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
      color: #b40e32;
    }
  }
  .logo {
    -webkit-animation: rotating 4s linear infinite;
    -moz-animation: rotating 4s linear infinite;
    -ms-animation: rotating 4s linear infinite;
    -o-animation: rotating 4s linear infinite;
    animation: rotating 4s linear infinite;
  }
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    background: springgreen;
}
nav ul li a{
    color:#000000;
    text-decoration:none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    background: #77046e;
    color: fff;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;  
    color: white;
    animation-name: p;
    animation-duration: 4s; 
}
@keyframes p{
    0%   {color:red; left:0px; top:0px;
    opacity: 0;
transform: translateY(2000px);}
    25%  {color:yellow; left:200px; top:0px;
    opacity: 0;
translate: transformY(-30px);}
    50%  {color:rgb(220, 220, 230); left:200px; top:200px;
   transform: translateY(10px); }
    75%  {color:brown; left:0px; top:200px;
    transform: translateY(5px);}
    100% {color:red; left:0px; top:0px;
    transform: translateY(0);}
    }
.header-text p::after{
    content: '';
    transition: 0.5s;
}
.header-text p:hover::after{
    width: 100%;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
    font-style: oblique;
    font-weight: 100;
}
.header-text h1 span{
    color:#ff004f;
}
/* about me......................................................................*/
#about{
    padding: 80px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }
.about-col-1{
    flex-basis: 35%;
    width: 150px;
  height: 500px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
.about-col-1 img{
    width: 100%;
    height: auto;

    
}
.about-col-2{
    flex-basis: 60%;
    border-radius: 15px;
    padding:50px;
    background: #f80404;
    border-spacing: 2px;
    transition: background 0.5s, transform 0.5s;

}
.about-col-2:hover{
    transform:translate(-10px) ;
    background: #ff008c;
}
.sub-tilte{
  font-size: 60px;
  font-weight: 600;
  color: #fff;  
}
.tab-titles{
    display:flex;
    margin:20px 0 40px;
   

}
.tab-links{
    position: relative;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color: #bb5469;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{

display: block;
}
/*my sevice.................................................*/
#services{
    padding: 30px 0;
    color: #fff;
}.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 50px;
    color: #fff;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius:  20px; 
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin: bottom 30px; 
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    color: #fff;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform:translate(-10px) ;
}
#portfolio{
    padding: 50px 0;
    color: #fff;
}
.container{
    color: #fff;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 50px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    display: block;
    transition: transform 0.5s;
}
/*my works .......................................................*/
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position:absolute;
    left:0 ;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
transform: scale(1.1);
}
.work:hover .layer{
height: 100%;
transition: height 0.5s;
}
.btn{
    display: inline-block;
    margin: 50px auto;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    width: fit-content;
    border-radius: 6px;
    text-decoration: none;
    color:#fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #a50675;
}
.btn0{
    display: inline-block;
    margin: 50px auto;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    width: fit-content;
    border-radius: 6px;
    text-decoration: none;
    color:#fff;
    transition: background 0.5s;
}
btn0:hover{
    background: #77046e;
}
/*social media.............................................*/
.contact-left{
flex-basis: 35%;
}
.contact-right{
flex-basis: 60% ;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#104beb;
    display: inline-block;
    transition: tranasform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
 display: inline-block;
 background: #ff004f;   
}
.btn0.btn10{
    background: #ff004f;
    margin-right: 45px;
    
}
form .btn10{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.contact-right form{
    width: 100%;
}
form input,textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff ;
    border-radius: 6px;
    font-size: 18px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
form .btn3{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;  
}
#myBtn{
    display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(162, 0, 255);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    margin-top: 20px;
color: #fff;
}

footer{
    background: #120366;
}
.copyright i{
    color: #ff004f;
}
nav .fas{
    display: none;
}
nav .fa-solid{
    display:none;
}
@media only screen and (max-width: 720px){
    #header{
        background-image: url(image.jfif);
    }
    .header-text{
        margin-top: 100%;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-tilte{
        font-size: 14px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;

    }
    
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;

    }
    .copyright{
      font-size: 14px;  
      color: #ff004f;
    }
    .social-icons a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        color:#104beb;
        display: inline-block;
        transition: tranasform 0.5s;
    }
}
#msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
}